.noteForm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.noteForm--content{
    border: 1px solid #55525259;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 1px 5px 1px #55525259;
    position: relative;
    margin-bottom: 30px;
    &--title {
        font-size: 20px;
        font-weight: 500;
    }
}