
.note--container{
    border: 1px solid rgba(85, 82, 82, 0.3490196078);
    margin: 10px;
    border-radius: $border-radius;
    padding: 20px 20px 10px;
    position: relative;
    width: 22%;
    transition: 0.5s;
    &:hover{
        box-shadow: $box-shadow;
    }
    &--title{
        font-weight: 600;
    }
    &--description{
        margin:10px 0;
    }
    @media (max-width: $laptop) {
        width: 30%;
    }
    @media (max-width: $tablet) {
        width: 45%;
    }
    @media (max-width: $mobile) {
        width: 90%;
    }
}

.edit--menu{
    position: absolute;
    background: white;
    z-index: 20;
    top: 33px;
    right: 0px;
    padding: 10px 0;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    &--li{
        padding: 10px;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            background: $prime;
            color: white;
        }
    }
}
.edit--button{
    position: absolute;
    top: 9px;
    right: 8px;
    cursor: pointer;
    width: 20px;
    text-align: center;
    
}
