.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: #00000082;

    &--container {
        width: 400px;
        position: relative;
        top: 30%;
        left: 35%;
        padding: 15px;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 1px 5px 1px rgb(85 82 82 / 35%);
    }

    &--close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: none;
        color: white;
        background: #b1b1e3;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.4s;
        transform: rotate(45deg);
        font-size: 17px;

        &:hover {
            background: #9393dd;
            box-shadow: 0px 1px 5px 1px rgb(85 82 82 / 35%);
        }
    }

    &--save {
        position: absolute;
        right: 10px;
        bottom: 10px;
        border-radius: 10px;
        border: none;
        color: white;
        background: #17b3a3;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.4s;
        padding: 5px 10px;
        &:hover {
            background: #129487;
            box-shadow: 0px 1px 5px 1px rgb(85 82 82 / 35%);
        }
    }

    &--title {
        font-size: 20px;
        font-weight: 500;
    }
}