.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: #00000082;

    &--container {
        width: 400px;
        position: relative;
        top: 30%;
        left: 35%;
        padding: 15px;
        background: white;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        @media (max-width: $tablet) {
            width: 70%;
            left: 16%;
        }
        @media (max-width: $mobile) {
            width: 90%;
            left: 5%;
        }
    }

    &--close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: none;
        color: white;
        background: $prime;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.4s;
        transform: rotate(45deg);
        font-size: 17px;

        &:hover {
            background: $prime-hover;
            box-shadow: $box-shadow;
        }
    }

    &--save {
        position: absolute;
        right: 10px;
        bottom: 10px;
        border-radius: $border-radius;
        border: none;
        color: white;
        background: $secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.4s;
        padding: 5px 10px;
        &:hover {
            background: $secondary-hover;
            box-shadow: $box-shadow;
        }
    }

    &--title {
        font-size: 20px;
        font-weight: 500;
    }
}