@import '/src/common/startStyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



$themeColor: #17B3A3;
h1 {
  background: $themeColor;
  span{
    color: #0f0;
  }
    
  }

@import '/src/components/Notes/NoteForm/NoteForm.scss';
@import '/src/components/Notes/Notes.scss';
@import '/src/components/Notes/Note/Note.scss';
@import '/src/components/FormInput/FormInput.scss';
@import '/src/components/Buttons/AddButton/AddButton.scss';
@import '/src/components/Buttons/DeleteButton/DeleteButton.scss';
@import '/src/components/Notes/Tag/Tag.scss';
@import '/src/components/Modals/Modal.scss';